.App {
	position: fixed;
	background-color: rgb(173, 250, 224);
	margin-top: 10%;
	margin-left: 25%;
	margin-right: 10%;
	border-radius: 15px;
	padding: 20px;
}​

.Form {
	border-radius: 15px;
	padding: 20px;
}

.Div {
	border-radius: 15px;
	padding: 20px;
}

#input {
	background-color: rgb(200, 253, 231);
	border-width: 2px;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
}

#button {
	background-color: rgb(255, 102, 0);
	border-width: 2px;
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
}

#table-cell {
	background-color: rgb(53, 156, 84);
	padding: 15px;
	font-size: 18px;
	color: white;
	text-align: center;
}

#table-head {
	background-color: rgb(0, 128, 38);
	padding: 15px;
	font-size: 15px;
	color: white;
}